.carousel_img {
    width: 100%; /* Занимает всю ширину контейнера */
    height: 600px; /* Можно задать фиксированную высоту */
    object-fit: cover; /* Обрезает изображение, сохраняя центральную часть */
    object-position: 50% 50%; /* Центр изображения */
}
.carousel_text {
    background-color: rgba(0, 0, 0, 0.6); /* Черный фон с прозрачностью 50% */
    color: white;
}

