<!doctype html>

<html lang="ru" data-bs-theme="dark">
    <th:block th:insert="~{blocks/head_block :: head}"></th:block>
    <style>
        .card-body ul {
            text-align: left; /* Выровнять текст по левому краю */
            padding-left: 0; /* Убрать отступы списка */
        }

        .card-body li {
            list-style: none; /* Убрать стандартные маркеры списка */
            margin-bottom: 10px; /* Добавить немного пространства между пунктами списка */
            display: flex;
            align-items: center;
        }

        .card-body li img {
            margin-right: 10px; /* Добавить отступ между иконкой и текстом */
        }


    </style>
    <style>
        .gradient-bg {
            background: #283401;
            background: linear-gradient(0deg, #283401, #206C63);
            color: white; /* Устанавливаем цвет текста белым */
            border: none; /* Убираем стандартные границы карточки */
        }
        .gradient-bg .card-body {
            color: white; /* Цвет текста внутри карточки */
        }
        .gradient-bg2 {
            background: #283401;
            background: linear-gradient(180deg, #283401, #206C63);
        }

    </style>
</html>
<body cz-shortcut-listen="true" class="d-flex flex-column min-vh-100">

<th:block th:insert="~{blocks/header :: header}"></th:block>

<main>
    <div id="carouselExample" class="carousel slide position-relative overflow-hidden text-center bg-body-tertiary" data-bs-ride="carousel">
        <!-- Карусельные слайды -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="carousel_img" th:src='@{/img/fitness-page-carousel-1.jpg}'  alt="Image 1">
                <div class="carousel-caption">
                    <h1 class="carousel_text">Новейшие тренажеры</h1>

                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel_img" th:src='@{/img/fitness-page-carousel-2.jpg}'  alt="Image 2">
                <div class="carousel-caption">
                    <h1 class="carousel_text">Абонемент для студентов</h1>

                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel_img" th:src='@{/img/fitness-page-carousel-3.jpg}'  alt="Image 3">
                <div class="carousel-caption">
                    <h1 class="carousel_text">Приведи друга и получи скидку 20%</h1>

                </div>
            </div>
        </div>

        <!-- Навигационные элементы карусели -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

        <!-- Индикаторы -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    </div>

    <div class="container py-3 mt-4">
        <div class="row row-cols-1 row-cols-md-3 mb-3">
            <div class="col" th:each="subscription : ${subscriptions}">
                <div class="card mb-4 rounded-3 shadow-sm border-primary gradient-bg">
                    <div class="card-header py-3 text-bg-primary gradient-bg2">
                        <h4 class="my-0 fw-normal" th:text="${subscription.subscription_type}">Название</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            <span th:text="${subscription.price}">0</span> ₽
                            <small th:text="'/' + ${subscription.durationDays} + 'дн.'" class="text-body-secondary fw-light"></small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>
                                <img th:src="@{/img/sucsess.png}" th:if="${subscription.unlimited_use}" height="auto" width="25px">
                                <img th:src="@{/img/close.png}" th:if="${!subscription.unlimited_use}" height="auto" width="20px">
                                Безлимитное посещение одного зала
                            </li>
                            <li>
                                <img th:src="@{/img/sucsess.png}" th:if="${subscription.mystery_box}" height="auto" width="25px">
                                <img th:src="@{/img/close.png}" th:if="${!subscription.mystery_box}" height="auto" width="20px">
                                Mystery Box
                            </li>
                            <li>
                                <img th:src="@{/img/sucsess.png}" th:if="${subscription.inbody}" height="auto" width="25px">
                                <img th:src="@{/img/close.png}" th:if="${!subscription.inbody}" height="auto" width="20px">
                                Анализ состава тела InBody
                            </li>
                            <li>
                                <img th:src="@{/img/sucsess.png}" th:if="${subscription.sauna}" height="auto" width="25px">
                                <img th:src="@{/img/close.png}" th:if="${!subscription.sauna}" height="auto" width="20px">
                                Сауна
                            </li>
                            <li>
                                <img th:src="@{/img/sucsess.png}" th:if="${subscription.martial_arts}" height="auto" width="25px">
                                <img th:src="@{/img/close.png}" th:if="${!subscription.martial_arts}" height="auto" width="20px">
                                Единоборства
                            </li>
                            <li>
                                <img th:src="@{/img/sucsess.png}" th:if="${subscription.group_programs}" height="auto" width="25px">
                                <img th:src="@{/img/close.png}" th:if="${!subscription.group_programs}" height="auto" width="20px">
                                Групповые программы
                            </li>
                        </ul>
                        <a href="/subscriptions/buy-subscription" class="w-100 btn btn-lg btn-outline-light">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Групповые программы</h2>
                <p class="lead">Всемирно известные групповые занятия, проработанные до мелочей. Каждый шаг, любое движение выверено и рассчитано ведущими в мире фитнес-специалистами.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img th:src="@{/img/cycle.webp}" style="height: 300px; width: 390px; border-radius: 15px">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Тренажерный зал</h2>
                <p class="lead">Премиальное фитнес оборудование от итальянского бренда с мировым именем. Европейское качество каждой детали в тренажерах высочайшего качества.</p>
            </div>
            <div class="col-md-5">
                <img th:src="@{/img/mashine.jpg}" style="height: 300px; width: 390px; border-radius: 15px">            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 ">
                <h2 class="featurette-heading fw-normal lh-1">Зал для единоборств</h2>
                <p class="lead ">Пространство продумано так, чтобы каждый удар и каждое движение отрабатывались в идеальных условиях.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img th:src="@{/img/box_gym.jpeg}" style="height: 300px; width: 390px; border-radius: 15px">
            </div>
        </div>

        <!-- /END THE FEATURETTES -->

    </div>
</main>
<th:block th:insert="~{blocks/footer.html}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body></html>