<!doctype html>
<html lang="ru" data-bs-theme="dark">
<th:block th:insert="~{blocks/head_block :: head}"></th:block>
<style>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        margin-top: 5%;
    }
</style>
<body class="text-center d-flex flex-column min-vh-100">

<th:block th:insert="~{blocks/header :: header}"></th:block>

<main class="form-signin">
    <!-- Форма входа -->
    <form th:action="@{/login}" method="post">
        <h1 class="h3 mb-3 fw-normal">Войти</h1>

        <!-- Поле ввода номера телефона -->
        <div class="form-floating mb-2">
            <input type="text" name="phoneNumber" id="phone" class="form-control"  placeholder="Номер телефона" required>
            <label for="phone">Номер телефона</label>
        </div>

        <!-- Поле ввода пароля -->
        <div class="form-floating mb-2">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Пароль" required>
            <label for="floatingPassword">Пароль</label>
        </div>

        <!-- Вывод ошибок и сообщений -->
        <div th:if="${error}"  class="alert alert-danger" role="alert">
            Неверный номер телефона или пароль.
        </div>
        <div th:if="${message}" class="alert alert-success" role="alert">
            <span th:text="${message}"></span>
        </div>

        <!-- Кнопка входа -->
        <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Войти</button>
        <p class="mb-2 text-muted">Или</p>
    </form>

    <!-- Ссылка на регистрацию -->
    <a th:href="@{/register}" class="w-100 btn btn-lg btn-primary">Зарегистрироваться</a>
</main>

<th:block th:insert="~{blocks/footer :: footer}"></th:block>

<!-- Подключение скрипта IMask -->
<script src="https://unpkg.com/imask"></script>
<script>
    // Инициализация маски для российского номера телефона
    const phoneMask = IMask(
        document.getElementById('phone'), {
            mask: '+{7} (000) 000-00-00'
        }
    );
</script>

</body>
</html>
